<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
    <div class="container">
        <a class="navbar-brand" href="https://www.tmax.com.br/" target="_blank"> <img
                src="https://www.tmax.com.br/img/logo.png" width="100" alt="Tmax">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a href="/" class="nav-link text-white"> Principal </a>
                </li>
            </ul>


            <div class="align-self-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white"> Quero me cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Entrar </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</nav>