<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
    <div class="container">
        <a class="navbar-brand" href="https://www.tmax.com.br/" target="_blank"> <img
                src="https://www.tmax.com.br/img/logo.png" width="100" alt="Tmax">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a href="/books" class="nav-link text-white"> Principal </a>
                </li>
            </ul>


            <div class="align-self-end">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="/user/edit" class="nav-link text-white">
                            Olá, <%=nameUser %>
                        </a>

                    </li>

                    <li class="nav-item">
                        <a href="/reserves" class="nav-link text-white">Minhas reservas &nbsp </a>
                    </li>

                    <li class="nav-item">
                        <a href="/users" class="nav-link text-white"> Usuários cadastados </a>
                    </li>
                    <li class="nav-item">
                        <a href="../books/list" class="nav-link text-white">Edição e remoção de livros </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</nav>