<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <font face="Courier">
                            <h4>Cadastro de livro</h4>
                        </font>
                    </div>
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input class="form-control" type="text" name="title" id=""
                                placeholder="Qual o titúlo deste livro">
                            <br>
                            <input class="form-control" type="text" name="author" id=""
                                placeholder="Quem escreveu este livro">
                            <br>
                            <input class="form-control" type="text" name="description" id="" placeholder="Descrição">
                            <br>
                            <i>Para quem é destinado o livro?</i>
                            <br>
                            <div class="btn-group">
                                <input class="btn-check" type="radio" name="permission" id="student" autocomplete="off"
                                    value="Estudante">
                                <label class="btn btn-primary" for="student">Estudante</label>
                                <input class="btn-check" type="radio" name="permission" id="teacher" autocomplete="off"
                                    value="Professor">
                                <label class="btn btn-primary" for="teacher">Professor</label>
                                <input class="btn-check" type="radio" name="permission" id="director" autocomplete="off"
                                    value="Diretor">
                                <label class="btn btn-primary" for="director">Diretor</label>
                            </div>
                            <br>
                            <br>
                            <i>Insira o livro em PDF</i>
                            <br>
                            <input type="file" name="bookFile">
                            <br>
                            <br>
                            <br>
                            <button class="btn btn-primary btn-lg" type="submit">Postar</button>
                        </form>
                    </div>
                </div>
            </div>

    </body>
    <%- include('../../partials/footer.ejs') %>