<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbarLogin.ejs') %>
            <h1>teste</h1>
    </body>


    <%- include('../../partials/footer.ejs') %>